#ignore thumbnails created by windows
Thumbs.db

#ignore files created by mac os
.DS_Store

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.opendb
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/

# IntelliJ excludes
.idea/
cmake-build-debug/
cmake-build-release/